/__pycache__/*
bin/__pycache__/*
bin/scratch.py
bin/scratch2.py
bin/.ipynb_checkpoints/*
bin/Cell_stats_sim_1.csv
bin/krat_energy.csv
bin/snake_energy.csv
bin/*.csv
bin/data.txt
src/__pycache__/*
src/scratch.py
src/scratch2.py
src/.ipynb_checkpoints/*
src/Cell_stats_sim_1.csv
src/krat_energy.csv
src/snake_energy.csv
src/*.csv
src/data.txt
/.ipynb_checkpoints/*
/*.tsv/
bin/*.tsv
bin/ex_data.txt

